<script src="/erp/scripts/js/jquery.min.js"></script>
<div id="vendorId" data-ng-controller="VendorController" style="margin-left:6%;margin-top:-14%">
<div class="panel panel-primary"  style="margin-left:14%;padding-bottom:12%;margin-top:15%">    
		<div class="panel-heading">                  
		          <div class="text-center">     
		<b style="font-size: large;">Asset Details</b>
					</div>
		</div>
		 
			     
			<br>
			<div class="form-group col-md-3" >
						<label>GRN ID<b style="color: red">*</b></label>
			<select class="form-control"
						data-ng-model="data.object.departmentid">
						<option></option>
						<option data-ng-repeat="department in departments"
							value="{{department.departmentid}}">{{department.department_name}}</option>
					</select>
			</div>
			
		<div class="form-group col-md-3" >
						<label>GRN Date</label>
			<input type="text" data-ng-model="data.object.pono" class="form-control">
			</div>
			
			<div class="form-group col-md-3" >
						<label>Purchase Order ID</label>
			<input type="text" data-ng-model="data.object.vender_name" class="form-control">
			</div>
			<div class="form-group col-md-3" >
						<label>PO Date</label>
			<input type="text" data-ng-model="data.object.po_amount" class="form-control">
			</div><br>
			<div class="form-group col-md-3" >
						<label>Vendor</label>
			<input type="text" data-ng-model="data.object.grn_amount" class="form-control">
			</div>                      
			
			</div>
			<div>       
			<div class="panel-heading">                  
		          <div class="text-center">     
		<b style="font-size: large;">GRN items</b>
					</div>
		</div>
	<br>    
		<div>
		<div class="form-group row" style="width:5%;margin-left:15%;">
						<label><b style="color: red">*</b></label>
			<select class="form-control">
						<option></option>
						<option value = "5"> 5</option>
						<option value = "10"> 10</option>
						<option value = "25"> 25</option>
						<option value = "50"> 50</option>
						<option value = "100"> 100</option>       
					</select>
			</div> 			             
						<br>                 
			<div class="form-group row" style="overflow-x:scroll;padding-right: 2%;">             
			<table class="table table-bordered" style=" width:85%;margin-left:15%;">
			 <tr class="panel-heading"style='background-color: CornflowerBlue'>   
				<th>Select</th>                       
				   <th>Consumables/Asset Name</th>
				   <th>Quantity</th>
				    <th>Brand</th>     
				   <th>Location</th>       
				 </tr>
				    
                  <tr>
                  <td> </td>
                  <td> </td>            
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  </tr>
			</table>
			
			</div>
				</div>
				
				
				<div>
				<div class="panel-heading">                  
		          <div class="text-center">     
		<b style="font-size: large;">GRN items List</b>
					</div>
		</div>
	<br>    
		<div class="form-group row" style="width:5%;margin-left:15%;">
						<label><b style="color: red">*</b></label>
			<select class="form-control">
						<option></option>
						<option value = "5"> 5</option>
						<option value = "10"> 10</option>
						<option value = "25"> 25</option>
						<option value = "50"> 50</option>
						<option value = "100"> 100</option>       
					</select>
			</div> 			             
						<br>                 
			<div class="form-group row" style="overflow-x:scroll;padding-right: 2%;" >             
			<table class="table table-bordered" style=" width:85%;margin-left:15%;">
			 <tr class="panel-heading" style='background-color: CornflowerBlue'>   
				<th>Asset id</th>                       
				   <th>OEM SL#</th>
				   <th>Brand</th>
				    <th>Dom</th>     
				   <th>Value ($)</th>
				   <th>Life of Asset </th>
				   <th>Residual Value ($)</th>
				   <th>Installation Status </th>
				   <th>Installation Cost </th>
				   <th>Installation Date </th>   
				   <th>Actual Installation Date </th>    
				 </tr>
				    
                  <tr>
                  <td> </td>
                  <td> </td>            
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  </tr>
			</table>
			
			</div>
				</div>
		
				
				
				
				</div>            
				
				
				   
					<div class="form-group" style="padding-left:14%;" id="image"> 
					<input type="checkbox" name="submit" value="Submit"> Do You Want To Submit<br>
					<div class="form-group row"style="width:40%">
					   <label class="control-label">PO</label> 
					   <input type="file" name="imageUpload"  class="form-control" data-ng-model="data.object.image_path"
					    onchange="angular.element(this).scope().uploadFiles(this)" required="required" accept="image/*">
					    </div>
					    <div class="form-group row" style="width:40%">
			 <label class="control-label">GRN</label> 
					   <input type="file" name="imageUpload"  class="form-control" data-ng-model="data.object.image_path"
					    onchange="angular.element(this).scope().uploadFiles(this)" required="required" accept="image/*">
					    </div>
					    <div class="form-group row" style="width:40%">
			 <label class="control-label">Invoice</label> 
					   <input type="file" name="imageUpload"  class="form-control" data-ng-model="data.object.image_path"
					    onchange="angular.element(this).scope().uploadFiles(this)" required="required" accept="image/*">
					    </div>
					    <div class="form-group row" style="width:40%">
			 <label class="control-label">Approval Note</label> 
					   <input type="file" name="imageUpload"  class="form-control" data-ng-model="data.object.image_path"
					    onchange="angular.element(this).scope().uploadFiles(this)" required="required" accept="image/*">
					    </div>
					    <div class="form-group row"style="width:40%">
			 <label class="control-label">Document Name</label> 
					   <input type="file" name="imageUpload"  class="form-control" data-ng-model="data.object.image_path"
					    onchange="angular.element(this).scope().uploadFiles(this)" required="required" accept="image/*">
					    </div>
			   
			   
				    </div>
					</div>
					   
			
				
				<div class="form-group" style="margin-left:45%">
			<button type="button"   
				class="btn btn-success btn-md" style="margin-top:5%; margin-left:30px;" data-toggle="modal"data-ng-click="">                                    
				save   
			</button>    
			</div>    
				 <div class="panel panel-heading" style="padding-left:14%;">
				 <div class="form-group row" style="width:40%">
			 <label class="control-label">Upload File</label> 
					   <input type="file" name="imageUpload"  class="form-control" data-ng-model="data.object.image_path"
					    onchange="angular.element(this).scope().uploadFiles(this)" required="required" accept="image/*">
			 <button type="button"   
				class="btn btn-success btn-md" style="margin-top:5%; margin-left:30px;" data-toggle="modal"data-ng-click="">                                    
			Upload  
			</button> 
			</div>
					    </div>
					  