<script src="/erp/js/jquery.min.js"></script>
<div class="panel panel-primary"  id="lb6b" data-ng-controller="pocontroller" style="margin-left:18%;padding-bottom:2%;margin-top:-10%">    
		<div class="panel-heading">                  
		          <div class="text-center">     
		<b style="font-size: large;">Asset Detail Report</b>
					</div>
		</div>
		 
			
			<br>
			<div class="form-group col-md-2" >
						<label>Purchase Order<b style="color: red">*</b></label>
			</div>
			<div class="form-group col-md-3">
			<select class="form-control"
						data-ng-model="data.object.departmentid">
						<option></option>
						<option data-ng-repeat="department in departments"
							value="{{department.departmentid}}">{{department.department_name}}</option>
					</select>
			</div>
		
			<br>
				
				</div>
				
				<div style="margin-top:3%;margin-left:35%;">
			<button type="button"   
				class="btn btn-primary btn-md" data-toggle="modal"data-ng-click="">                                    
				Submit    
			</button>
				</div>	
				<script>
				jQuery(document).ready(function() {     
			 $("#searchrow").hide();
  			 angular.bootstrap(jQuery("#lb6b"), [ 'Pogrn' ]); 
	    }); 
		jQuery("#register").click(function(){
			$("#add").show();
			$("#update").hide();
		
		});
		</script>