
<!-- <script src="/erp/scripts/general/CreateGrn.js"></script>
<script src="/erp/scripts/js/jquery.min.js"></script>

<script src="/erp/scripts/js/angular.js"></script> -->
<style>
    input[type=text] {
    border: none;
    border-bottom: 1px solid #ffeecc;  
} 
input:focus {
  background-color:#ffe6b3;
} 
.btn-search {
	  background: #63afdc;
	  border-radius: 0;
	  color: black;   
	  border-width: 1px;       
	  border-style: solid;
	  border-color: #63afdc;
	  
	}
	.button {   
  background-color:#63afdc ;
  border: none;
  color: black;
  padding: 10px 20px;   
  text-align: center;   
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;  
  cursor: pointer;
  border-radius: 10px;
}

.but {
  padding: 5px 10px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #1E565A;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}

.but:hover {background-color: #1E565A}

.but:active {
  background-color: 1E565A;
  box-shadow: 0 3px #666;
  transform: translateY(3px);
}
  </style>
<div id="grnId" data-ng-controller="CreateGrnController">
	<br>
	<div class="panel panel-primary"
		style="margin-left: 16%;position:absolute;top:210px;width:1000px">

		<div class="panel-heading">Payment Summary</div>
		<div class="panel-body">                         
		    


      <div class="form-group col-md-3">
        <label>Financial Year&nbsp;<b style="color: red">*</b></label> <select
          class="form-control" data-ng-model="data.object.po#">
          <option>Select</option>
          <option>2019-2020</option> 
          <option>2018-2019</option>
          <option>2017-2018</option>
          <option>2016-2017</option>
          <option>2015-2016</option>
          <option>2014-2015</option>
        </select>
      </div> 

<div class="form-group col-md-3">
        <label>Month&nbsp;<b style="color: red">*</b></label> <select
          class="form-control" data-ng-model="data.object.Invoice">
          <option>Select</option>
          <option>January</option>
          <option>February</option>
          <option>March</option>
          <option>April</option>
          <option>May</option>
          <option>June</option>
          <option>July</option>
          <option>August</option>
          <option>September</option>
          <option>October</option>
          <option>November</option>
          <option>December</option>
        </select>  
          </div>

                   <center><button input type="button" style="background-color:green;color:white;width:45px;
              height:40px;" value="GET">GET</button></center>
    <!-- <button  class="btn1">GET</button> -->
			</div>

		</div>
	</div>




	<!--  ---------------------------------------------vendor comment-------------------------- ------------------------>



	<div class="panel panel-primary"
		style="margin-left: 16%;position:absolute;top:420px;width:1000px">

		<div class="panel-heading"> Remaining AOP Head Count</div>
		<div class="panel-body">
			<div class="form-group col-md-3">
				<label>Department&nbsp;<b style="color: red">*</b></label> <select
					class="form-control" data-ng-model="data.object.Invoice">
					<option>Select</option>
					<option>operations</option>
					<option>HumanResources</option>
					<option>Finance&Accounts</option>
					<option>CorparateConnect</option>

				</select>
			</div>
			<div class="form-group col-md-3">
				<label>Cadre&nbsp;<b style="color: red">*</b></label> <select
					class="form-control" data-ng-model="data.object.Invoice">
					<option>Select</option>
					<option>L</option>
					<option>S</option>       
					<option>M</option>
					<option>J</option>
					<option>F</option>    
					<option>others</option>
				</select>
			</div>

			<div class="form-group col-md-3">
				<label>Grade&nbsp;<b style="color: red">*</b></label> <select
					class="form-control" data-ng-model="data.object.Invoice">
					<option>Select</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			</div>
			<div class="form-group col-md-3">
				<label>ReportsTo&nbsp;<b style="color: red">*</b></label> <select
					class="form-control" data-ng-model="data.object.Invoice">
					<option>Select</option>
					<option>Chief Excutive Officer</option>
					<option>Deputy Chief Excutive officer</option>
					<option>Chief operating officer</option>
					<option>Head Hr</option>
				</select>
			</div>
			<div class="form-group col-md-3">
				<label>RequiredPosition&nbsp;<b style="color: red">*</b></label> <input
					type="text" class="form-control"
					data-ng-model="data.object.needbydate"
					placeholder="Enter RecquiredPosition" />
			</div>
			<div class="form-group col-md-3">
				<label>No.of Position&nbsp;<b style="color: red">*</b></label> <input
					type="text" class="form-control"
					data-ng-model="data.object.needbydate" placeholder="0" />
			</div>
			<div class="form-group col-md-3">
				<label>Required For Division&nbsp;<b style="color: red">*</b></label>
				<select class="form-control" data-ng-model="data.object.Invoice">
					<option>Select</option>
					<option>APSSDC Head Office</option>
					<option>PMDC</option>
					<option>TOT</option>    
					<option>Vijaynagaram</option>
				</select>
			</div>
			<div class="form-group col-md-3">
				<label>TotalExperience&nbsp;<b style="color: red">*</b></label> <input
					type="text" class="form-control"
					data-ng-model="data.object.needbydate"
					placeholder="Enter TotlaExperience" />
			</div>
			<div class="form-group col-md-3">
				<label>ReleventExperience&nbsp;<b style="color: red">*</b></label> <input
					type="text" class="form-control"
					data-ng-model="data.object.needbydate"
					placeholder="Enter ReleventExperience" />
			</div>
		</div>
	</div>

	

	<!-- ----------------------------------------------------------------------------- -->
<h4 style="margin-left:16%;position:absolute;top:760px">Job Description&nbsp;<b style="color: red">*</b></h4>
	<div class="panel panel-primary"
		style="margin-left: 16%;position:absolute;top:780px;width:1000px">

		<div class="panel-heading"></div>
		<div class="panel-body">
			<div class="panel-body">

				<!-- <div class=" table-responsive">
<table id="itemsTable" class="table table-hover table-bordered table-striped ">
<thead>
<tr>
<th>S.No</th>      
<th><input onclick="selectAllGRNLineItems(this)" id="selectAll" type="checkbox">
</th>    
<th style="min-width: 200px;max-width: 200px;">Name</th>
<th style="min-width: 120px;max-width: 120px;"> Brand </th>
<th style="min-width: 120px;max-width: 120px;"> Installation </th>
<th style="min-width: 120px;max-width: 120px;"> Inst. Date </th>
<th style="min-width: 120px;max-width: 120px;"> PO Quantity </th>
<th style="min-width: 120px;max-width: 120px;"> Remaining Qty </th>
<th style="min-width: 120px;max-width: 120px;"> Received Qty </th>
<th style="min-width: 120px;max-width: 120px;"> Inspected Qty </th>
<th style="min-width: 120px;max-width: 120px;"> Rejected Qty </th>
<th style="min-width: 120px;max-width: 120px;"> QC okay Qty </th>
<th style="min-width: 120px;max-width: 120px;"> Location </th>
<th style="min-width: 120px;max-width: 120px;"> Documents </th>
</tr>
</thead>
 <tr data-ng-repeat="data in filteredResult =(linedetails | filter:search)">   
        <td>{{data.S.No}}</td> 
        <td><input onclick="selectAllGRNLineItems(this)" id="selectAll" type="checkbox"></td> 
		<td>{{data.Name}}</td>  
		<td>{{data.Brand}}</td>	 
		<td>{{data.Installation}}</td>	 
		<td>{{data.Inst_date}}</td>	 
		<td>{{data.PO_quantity}}</td>	            
		<td>{{data.Remaining_Qty}}</td>	 
		<td>{{data.Received_Qty}}</td>	 
		<td>{{data.Inspected_Qty}}</td>	 
		<td>{{data.Rejected_Qty}}</td>	 
		<td>{{data.QC_okay_Qty}}</td>
		<td>{{data.Location}}</td>	 	 
		<td>{{data.Documents}}</td>	 
			 
	</tr>
</table>
</div>
 </div>
  </div>


--------------------------------------------------------------------------------------------


  <div class="panel panel-primary" style="margin-left:14%;margin-top:1%;margin-right:7%">
   
   <div class="panel-heading">Saved Line Items</div>
    <div class="panel-body">
    
<div class=" table-responsive">
<table id="savedItemsTable" class="table table-hover table-bordered table-striped ">
<thead>
<tr>
<th>S.No</th><th>
<input onclick="selectAllDraftGRNLineItems(this)" id="selectAll" type="checkbox"></th>
<th style="min-width: 200px;max-width: 200px;">Name</th>
<th style="min-width: 120px;max-width: 120px;"> Brand </th>
<th style="min-width: 120px;max-width: 120px;"> Inst.Status </th>
<th style="min-width: 120px;max-width: 120px;"> Inst.Date </th>
<th style="min-width: 120px;max-width: 120px;"> PO Quantity </th>
<th style="min-width: 120px;max-width: 120px;"> Remaining Qty </th>
<th style="min-width: 120px;max-width: 120px;"> Received Qty </th>
<th style="min-width: 120px;max-width: 120px;"> Inspected Qty </th>
<th style="min-width: 120px;max-width: 120px;"> Rejected Qty </th>
<th style="min-width: 120px;max-width: 120px;"> QC okay Qty </th>
<th style="min-width: 120px;max-width: 120px;"> Submitted By </th>
<th style="min-width: 120px;max-width: 120px;"> Location </th>
<th style="min-width: 120px;max-width: 120px;"> Documents </th>
</tr>
</thead>
<tbody>
<tr data-ng-repeat="data in filteredResult =(slinedetails | filter:search)">   
        <td>{{data.S.No}}</td> 
        <td><input onclick="selectAllGRNLineItems(this)" id="selectAll" type="checkbox"></td> 
		<td>{{data.Name}}</td>  
		<td>{{data.Brand}}</td>	 
		<td>{{data.Inst.Status}}</td>	 
		<td>{{data.Inst_date}}</td>	 
		<td>{{data.PO_quantity}}</td>	             
		<td>{{data.Remaining_Qty}}</td>	 
		<td>{{data.Received_Qty}}</td>	 
		<td>{{data.Inspected_Qty}}</td>	                     
		<td>{{data.Rejected_Qty}}</td>	 
		<td>{{data.QC_okay_Qty}}</td>
		<td>{{data.Submitted_By}}</td>	 
		<td>{{data.Location}}</td>	 	 
		<td>{{data.Documents}}</td>	 
			 
	</tr>
</tbody>
</table>
</div>
 </div>
  </div>


------------------------------------------------------------------------


  <div class="panel panel-primary" style="margin-left:14%;margin-top:1%;margin-right:7%">
   
  
    <div class="panel-body">
  <div class="form-group col-md-3">
      <label>Checked By :&nbsp;<b style="color: red">*</b></label>
	  <select class="form-control" data-ng-model="data.object.po#">
	  <option></option>
	   <option data-ng-repeat="department in departments" value="{{department.departmentid}}">{{department.department_name}}</option>
	  </select>
	</div>
	 <div class="form-group col-md-3">
      <label>Comments&nbsp;<b style="color: red">*</b></label>
	  <textarea rows="" cols=""></textarea>
	</div>   
  </div>
  </div>

 <button type="button" class="btn btn-primary" id="removebtn" data-ng-click="getsearch(data.object);" style="margin-left:45%">Save G R N</button>
 -->
				<!-- --------------------------------------------------------------------------------------- -->
				<!--  

  <div class="panel panel-primary" style="margin-left:14%;margin-top:1%;margin-right:7%">
   
   <div class="panel-heading">Associated GRN's</div>
    <div class="panel-body">
    
<table  class="table  display table-striped table-bordered">
<thead>
<tr>               
<th width="7%">S.No</th>                
<th>GRN ID</th>
<th width="15%">GRN DATE</th>
<th>COMMENTS</th>
<th>VIEW</th>
</tr>
</thead>
<tr data-ng-repeat="data in filteredResult =(assdetails | filter:search)">   
        <td>{{data.S_No}}</td> 
		<td>{{data.GRN_ID}}</td>  
		<td>{{data.GRN_DATE}}</td>	 
		<td>{{data.COMMENTS}}</td>	 
		
	</tr>
</table> -->
			</div>
		</div>

	</div>
	<!-- <-------------------->
<h4 style="margin-left:16%;position:absolute;top:920px;">Key Accountabilities&nbsp;<b style="color: red">*</b></h4>
	<div class="panel panel-primary"
		style="margin-left: 16%;position:absolute;top:940px;width:1000px">

		<div class="panel-heading"></div>
		<div class="panel-body">
			<div class="panel-body"></div>
		</div>

	</div>
	<!-- <---------?> -->
	<div class="panel panel-primary"
		style="margin-left: 16%;position:absolute;top:1100px;width:1000px">

		<div class="panel-heading">Person Specification</div>
		<div class="panel-body">

			<div class="form-group col-md-3">
				<label>scheme&nbsp;<b style="color: red">*</b></label> <select
					class="form-control" data-ng-model="data.object.po#">
					<option>select</option>
				</select>
			</div>


			<div class="form-group col-md-3">
				<label>Essential&nbsp;<b style="color: red">*</b></label>
				 <textarea rows="1" cols="10"  class="form-control" data-ng-model="data.object.needbydate" placeholder="Enter Essential"></textarea>
			</div>
			<div class="form-group col-md-3">
				<label>Desirable&nbsp;<b style="color: red">*</b></label> 
				<textarea rows="1" cols="10" class="form-control" data-ng-model="data.object.needbydate"placeholder="Enter Desirable"></textarea>
			</div>
		</div></div>     
	
	<button type="button" class="but" id="but"
		data-ng-click="getsearch(data.object);" style="margin-left: 45%">Create</button>
	<script>
		jQuery(document).ready(function() {
			$("#add").hide();
			$("#update").hide();
			angular.bootstrap(jQuery("#grnId"), [ 'CreateGrn' ]);
		});
		jQuery("#register").click(function() {
			$("#update").hide();
			$("#add").show();
		});
		jQuery(document).on('click', "#editData", function() {
			$("#update").show();
			$("#add").hide();
		});
	</script>
	<script>
		<script>
		function openCity(cityName, elmnt, color) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablink");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].style.backgroundColor = "";
			}
			document.getElementById(cityName).style.display = "block";
			elmnt.style.backgroundColor = color;
   
		}
		// Get the element with id="defaultOpen" and click on it           
		document.getElementById("defaultOpen").click();
	</script>            